PORT="3001"
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="rick_and_morty"
DB_HOST="localhost"
DB_PORT="5432"
JWT_SECRET="troque-por-um-segredo-longo-e-aleatorio"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="30d"
CORS_ORIGIN="http://localhost:3000"
